* {
	border: 0;
	padding: 0;
	margin: 0 auto;
}

body{
	color: white;
}

.center {
	width: 585px;
	margin: auto;
	display: flex;
}

.boxed {
	background: #0074D9;
	border: 4px solid black;
}

.card {
	margin: 5px;
}

.modal {
	background-color: lightgray;
}

/*Header styling*/
#header {
	padding: 10px 10px 20px;
	color: white;
}

#header p {
	color: white;
}

/*Game Board Styling*/
#game-board {
	cursor: pointer;
	padding-right: 20px;
}

/*Styling of Settings and Info Text*/
#setts {
	padding: 10px 10px 20px;
	display: grid;
	grid-template-areas: "a b";
}

/* Game */

.column {
	width: 80px;
	display: inline-block;
}

.column:hover  circle.empty{
	fill: #01FF70;
}

circle.empty {
	fill: #fff;
}

circle.red {
	fill: #D50000;
}

circle.yellow {
	fill: #DAD400;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}