<head>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js" type="application/javascript"></script>
    <script src="static/index.js" type="application/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="ripple-background">
        <div class="backgroundcircle xxlarge shade1"></div>
        <div class="backgroundcircle xlarge shade2"></div>
        <div class="backgroundcircle large shade3"></div>
        <div class="backgroundcircle medium shade4"></div>
        <div class="backgroundcircle small shade5"></div>
    </div>

    <div id="header">
        <h2 style="color:white;">Welcome to the Teisendorf-Challenge.<br>Can you win against the AI?</h2>
    </div>
    <div id="game-board">
        <div v-for="i in 7" class="column" :id="`column-${i-1}`" :data-x="`${i}`">

            <svg v-for="j in 6" :class="`row-${6-j}`" height="100" width="100">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="empty" />
            </svg>

        </div>
    </div>

    <div id="setts">
        <div class="row">
            <div class="column2 settings">
                <div>
                  <p>Select opponent:</p><br>
                  <input type="radio" id="Human" name="opponent" value="Human">
                  <label for="Human" color='white'>Human</label><br>
                  <input type="radio" id="AlphaBeta1" name="opponent" value="AlphaBeta1">
                  <label for="AlphaBeta1">AlphaBeta1</label><br>
                  <input type="radio" id="AlphaBeta2" name="opponent" value="AlphaBeta2">
                  <label for="AlphaBeta2">AlphaBeta2</label><br>
                  <input type="radio" id="AlphaBeta3" name="opponent" value="AlphaBeta3">
                  <label for="AlphaBeta3">AlphaBeta3</label><br>
                  <input type="radio" id="AlphaBeta4" name="opponent" value="AlphaBeta4">
                  <label for="AlphaBeta4">AlphaBeta4</label><br>
                  <input type="radio" id="AlphaBeta5" name="opponent" value="AlphaBeta5">
                  <label for="AlphaBeta5">AlphaBeta5</label><br>
                  <input type="radio" id="MCTS" name="opponent" value="MCTS">
                  <label for="MCTS">MCTS</label><br><br>
                </div>
                <div class="row text-center">
                    <button type="button" style="background-color:white;border:none; color:black;
                    padding:12px 28px; font-size:16px">Submit</button><br><br>
                </div>
            </div>

            <div class="column2 info">
                <p>
                    Thanks for playing against our Connect Four AI!<br>
                    The rules are simple: You're playing as red, you're opponent is playing as yellow.
                    Red always starts. Before you start playing choose your opponent from the list
                    on the left. You can either play against another human or an AI.<br><br>
                    The two available AIs are Alpha-Beta Pruning (Alphabeta)
                    or Monte-Carlo Tree Search (MCTS). The number at the end of
                    the names determines the difficulty: the higher the number the stronger
                    the AI.<br><br>
                    Enjoy!!<br><br>
                    If you find any bugs, please contact us: leopold.pfeiffer@gmx.de<br><br>
                    &copy Nikolas Heinloth & Leopold Pfeiffer<br><br>
                    <a href="https://github.com/leo-pfeiffer/AI4Connect4">
                        <i class="fab fa-github" style="font-size:16px;color:white;"> Check out the code on Github</i>
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
                    </a><br>
                </p>
            </div>
        </div>
    </div>
</body>