* {
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

#game-board {
	background: #0018b3;
	width: 730px;
	cursor: pointer;
}

/* Create two unequal columns that floats next to each other */
.textcolumn {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

/* Clear floats after the columns */
.textrow:after {
  content: "";
  display: table;
  clear: both;
}

.column {
	width: 100px;
	display: inline-block;
}

.column:hover  circle.empty{
	fill: #d5e4ed;
}

circle.empty {
	fill: #fff;
}

circle.red {
	fill: #D50000;
}

circle.yellow {
	fill: #DAD400;
}

body {
color: white;
}

