* {
	border: 0;
	padding: 0;
}

#game-board {
	background: #0074D9;
	width: 730px;
	cursor: pointer;
}

.column {
	width: 100px;
	display: inline-block;
}

.column:hover  circle.empty{
	fill: #01FF70;
}

circle.empty {
	fill: #fff;
}

circle.red {
	fill: #D50000;
}

circle.yellow {
	fill: #DAD400;
}

body {
color: white;
}

#setts {
		background: #0074D9;
		width: 730px;
        box-sizing: border-box;
}
    /* Set additional styling options for the columns */
.column2 {
    float: left;
}

    /* Set width length for the left, right and middle columns */
.settings {
    width: 200px;
}

.info {
    width: 530px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}